# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
myenv/
.env/
.venv/
.myenv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode workspace settings
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
